<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"/>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="container">
			<div class="masthead clearfix">
				<div class="container-inner">
					<h3 class="masthead-brand">Angela & Brian Wedding</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active">
								<a href="/">Home</a>
							</li>
							<li>
								<a href="#Ceremony">Ceremony</a>
							</li>
							<li>
								<a href="#Reception">Reception</a>
							</li>
							<li>
								<a href="#Hotel">Hotel</a>
							</li>
							<li>
								<a href="#Registry">Registry</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Saturday May 25, 2019</h1>
              <h4>Memorial Day Weekend</h4>
			</div>
		</div>
	</div>
</div>
<div id="Ceremony">
	<br><h1>~ Angela & Brian Wedding ~</h1>
	<br />
	<img id="couplePic" src="{% static "images/couplepic.JPG" %}" alt="My image">
	<br /><br>
	<h2>Please RSVP by May 1, 2019</h2>
	<h1>Ceremony</h1>
	<h2>3:30pm</h2>
	<h4>Holy Taxiarhai and Saint Haralambos Greek Orthodox Church</h4></a>
	<h4>7373 N Caldwell Ave, Niles, IL 60714</h4>
	<h4><a target="_blank" href="http://www.saintharalambosgoc.org/">Church website</a></h4>
	<h4>A shuttle will be provided for out of town guests to/from Edward Hotel to the church</h4>
</div>
<div id="Reception">
	<h1>Reception</h1>
	<h4>Cocktail hour and hors d'oeuvres begins at 6:30pm. Dinner will be served at 7:30pm</h4>
	<h4>Victoria Rosemont Penthouse Ballroom inside Edward Hotel</h4>
	<h4>6600 N. Mannheim Road Rosemont, IL 60018</h4>
	<h4 class="underlinedList">Guest choice entrée (to be selected day of)</h4>
	<h4>Chicken Limone with garlic mashed potates and green beans</h4>
	<h4>Steak Delmonico with garlic mashed potates and green beans</h4>
	<h4>Vegetarian Lasagna Rolls</h4>
	<h4>Gluten Free option available</h4>
	<h4>Plus a late night snack of Chicago's iconic <a target="_blank" href="https://geneandjudes.com/">Gene & Jude's Hotdogs</a></h4> 
	<h4>Reception ends at 12:30am</h4>

</div>
<div id="Hotel">
	<br>
	<h1>Accomodations</h1>
	<h2>Edward Hotel</h2>
	<h4>Block of rooms has been reserved for Thursday, May 23 through Sunday, May 26</h4>
	<h4>Please call to book your room and use wedding promo code ABW: (847) 544-7500</h4>
	<h4>Hotel must be booked by Wednesday, May 1, 2019</h4>
	<h4><a target="_blank" href="http://www.edwardhotelchicago.com/">Edward Hotel Website</a></h4>
	<h4 class="underlinedList">Hotel Block Discounted Rate</h4>
	<h4>One King Bed: $95 per night</h4>
	<h4>Two Queen Beds or Two Double Beds: $105 per night</h4>
	<h4>(If two queen beds are preferred, please mention this to the hotel when you call to book)</h4>
	<h4>Hotel offers a free shuttle to/from O'hare Airport. Please call hotel to schedule in advance.</h4>
	<h4>Hotel offers free parking</h4>
</div>
<div id="Registry">
	<br>
	<h1>Wedding Registry</h1>
	<h4>Wedding Photo Album Registry</h4>
	<h4><a target="_blank" href="https://order.twaphoto.com/gift-certificate/">TWA Photo Album Registry Link</a></h4>
	<br><br>
</div>
</body>
</html>